.myExpensesDiv {
    text-align: center;
}

.myExpensesButton {
    font-size: 24px;
    padding: 12px 18px 12px 18px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}